<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>{{appname}}</h1>
        <nav>
            <ul class="w3-bar w3-light-grey">
                <div class="w3-dropdown-hover">
                    <a style="text-decoration: none;" class="w3-button w3-light-grey" href="#">App</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a style="text-decoration: none;" class="w3-button w3-light-grey" href="#">Form</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a style="text-decoration: none;" class="w3-button w3-light-grey" href="#">Database</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a style="text-decoration: none;" class="w3-button w3-light-grey" href="#">History</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <a style="text-decoration: none;" class="w3-button w3-light-grey" href="#">Help</a>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                        <a href="#" class="w3-bar-item w3-button">label</a>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <section>
        <!-- this is a form 
        When the Admin wants to create and when the user wants to view the form this module
        will be the root for all other input and view and output modules -->
        
        <form action="post" class="w3-container w3-cell-row">
            <div class="w3-container w3-cell w3-row-padding">
                <!-- this would be an input module  -->
                <div> 
                    <label class="" for="">Label</label>
                    <input class="w3-input w3-border w3-round-large" type="text">
                </div>
                <div class="w3-cell-row">
                    <label class="w3-cell" for="">Label</label>
                    <input class="w3-cell w3-input w3-border w3-round-large" type="text">
                </div>
            </div>
            <div class="w3-container w3-cell">
                <div class="w3-section">
                    <label class="" for="">Label</label>
                    <input class="w3-input w3-border w3-round-large" type="text">
                </div>
                <!-- this would be a view module and will be a bit special 
                    due to the addition of search section  -->
                <div>
                    <div class="w3-cell-row">
                        <label for="" class="w3-cell">Label</label>
                        <input type="text" class="w3-input w3-cell w3-border w3-round-large" style="width:75%">
                        <button class="w3-button w3-cell">search</button>
                    </div>
                    <div>
                        <table class="w3-table-all">
                            <thead>
                                <tr>
                                    <th>header 1</th>
                                    <th>header 2</th>
                                    <th>header 3</th>
                                    <th>header 4</th>
                                </tr>
                            </thead>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
            </div>
        </form>
        </section>
    </main>
    <footer>
        <address>

        </address>
    </footer>
</body>
</html>