<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"defaultSettleDelay":500}'>
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'invoice/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'invoice/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'invoice/css/style.css' %}">
    <script src="{% static 'invoice/script/htmx.min.js'%}" defer></script>
    <script src="{% static 'invoice/script/json-enc.js'%}" defer></script>
    <script src="{% static 'invoice/script/CustomScript.js'%}" defer></script>
    <!-- <script src="{% static 'invoice/script/all.min.js'%}" defer></script> -->
    <!-- <link rel="stylesheet" href="{% static 'invoice/css/all.min.css' %}"> -->
</head>
<body class="w3-display-container">
    <div id="notif"
         hx-get="/invoice/get_notifications"
         hx-trigger="showNotif from:body"
         hx-target="#notif"
         hx-swap="innerHTML swap:50ms">{% include 'partials/notif.html' with messages=messages %}</div>
    {% block nav %}
        <div class="navigation">
            <nav>
                <ul class="w3-light-blue w3-bar w3-padding">
                    {% if user.is_admin %}
                        {% include 'partials/adminnav.html' %}
                    {% else %}
                        {% include 'partials/usernav.html' %}
                    {% endif %}
                    <a hx-get="/invoice/profile_user"
                       hx-target="#profile"
                       hx-swap="innerHTML"
                       class="w3-right w3-button w3-bar-item w3-ripple w3-round-large w3-green"
                       onclick="w3_open()">Profile</a>
                </ul>
            </nav>
        </div>
        <div class="w3-container w3-card-4 w3-light-grey w3-round w3-margin-right"
             style="position:absolute;
                    width:30%;
                    right:0px;
                    display:none"
             id="mySidebar">
            <div class="w3-padding w3-container" id="profile">{% include 'partials/profile.html' %}</div>
        </div>
    {% endblock %}
    <main>
        {% block modal %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <address>
        </address>
    </footer>
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
</body>
</html>
