<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'gayatriapp/css/style.css' %}">
        <script src="{% static 'gayatriapp/script/htmx.min.js'%}"></script>
        <script src="{% static 'gayatriapp/script/json-enc.js'%}"></script>
        <script src="{% static 'gayatriapp/script/jquery-3.7.1.min.js'%}"></script>
        <script src="{% static 'gayatriapp/script/CustomScript.js'%}"></script>
    </head>
    <body>
	{% block nav %}{% endblock %}
	<main>
		{% block modal %}{% endblock %}
		{% block content %}{% endblock %}
		{% block formEditor %}{% endblock %}
	</main>
        <footer>
            <address>

            </address>
        </footer>
    </body>
</html>
