{% extends 'base.html' %}
{% block content %}
    <form>
        {% csrf_token %}
        <section id="mainform">
            <div class="w3-container">
                <div id="formpart">{% include 'partials/forms.html' %}</div>
            </div>
            <div class="w3-container">
                <div id="tableview">{% include 'partials/tableview.html' %}</div>
            </div>
        </section>
    </form>
{% endblock %}
{% block modal %}
    <form id="modalView">
        {% csrf_token %}
    </form>
{% endblock %}
