{% extends 'base.html' %}
{% block content %}
    <div class="w3-container">
        <div class="w3-row">
        <div class="w3-grid" style="grid-template-columns: 1fr 1fr;">
            <form id="form-column">
                {% csrf_token %}
                <section id="mainform">
                    <div id="formpart">{% include 'partials/forms.html' %}</div>
                </section>
            </form>
            <form id="reelpreview-section" style="display: none;">
                {% csrf_token %}
                <section>
                    {% include 'partials/reel_preview.html' %}
                </section>
            </form>
        </div>
        </div>
        <div class="w3-row" id="tableview-section" style="display: none;">
            <form>
                {% csrf_token %}
                <section>
                    <div id="tableview"></div>
                </section>
            </form>
        </div>
        <div class="w3-row" id="reelview-section" style="display: none;">
            <form>
                {% csrf_token %}
                <section>
                    <div id="reelview"></div>
                </section>
            </form>
        </div>
    </div>
    <script>
        document.body.addEventListener('showReelpreview', function() {
            document.getElementById('reelpreview-section').style.display = '';
            document.getElementById('tableview-section').style.display = 'none';
            document.getElementById('reelview-section').style.display = 'none';
            document.getElementById('form-column').className = 'w3-col m6';
        });
        document.body.addEventListener('showTableview', function() {
            document.getElementById('reelpreview-section').style.display = 'none';
            document.getElementById('tableview-section').style.display = '';
            document.getElementById('reelview-section').style.display = 'none';
            document.getElementById('form-column').className = 'w3-col m12';
        });
        document.body.addEventListener('showProductionView', function() {
            document.getElementById('reelpreview-section').style.display = '';
            document.getElementById('tableview-section').style.display = '';
            document.getElementById('reelview-section').style.display = 'none';
            document.getElementById('form-column').className = 'w3-col m6';
        });
        document.body.addEventListener('showReelView', function(){
            document.getElementById('reelpreview-section').style.display = 'none';
            document.getElementById('tableview-section').style.display = 'none';
            document.getElementById('reelview-section').style.display = '';
            document.getElementById('form-column').className = 'w3-col m12';
        });
    </script>
{% endblock %}
{% block modal %}
    <form>
        {% csrf_token %}
        <div id="modalview"></div>
    </form>
{% endblock %}
