<!DOCTYPE html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'gayatriapp/css/style.css' %}">
	<script src="{% static 'gayatriapp/script/htmx.min.js'%}"></script>
        <script src="{% static 'gayatriapp/script/json-enc.js'%}"></script>
        <script src="{% static 'gayatriapp/script/jquery-3.7.1.min.js'%}"></script>
        <script src="{% static 'gayatriapp/script/CustomScript.js'%}"></script>
    </head>
    <body>
	{% block nav %}
	<div class="navigation">
	<nav>
	    <ul class="w3-light-blue w3-bar w3-padding">
		<div class="w3-dropdown-hover w3-round-large w3-light-blue">
		    <a style="text-decoration: none;" 
			class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"  
			id="forms"
			hx-post="/main/form" 
			hx-target="#contentArea">
			Forms
		    </a>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
			    <a class="w3-bar-item w3-button w3-ripple" 
			       hx-get="/main/form_setup" 
			       hx-vals='{"view": "formconfig"}'
			       hx-target="#modalView"
			       hx-swap="innerhtml"
			       id="createform"
			       onclick='document.getElementById("modalView").style.display="block"'>
				    create form
			    </a>
			    <a class="w3-bar-item w3-button w3-ripple" 
			       id="deleteform"
			       hx-get="/main/form_setup" 
			       hx-vals='{"view": "formdelete"}'
			       hx-target="#modalView"
			       hx-swap="innerhtml"
			       onclick='document.getElementById("modalView").style.display="block"'>
				    delete form
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="editform"
				hx-get="/main/form_setup" 
				hx-vals='{"view": "formedit"}'
				hx-target="#modalView"
				hx-swap="innerhtml"
				onclick='document.getElementById("modalView").style.display="block"'>
				    edit form
			    </a>
		    </div>
		</div>
		<div class="w3-dropdown-hover w3-round-large w3-light-blue">
		    <a style="text-decoration: none;" 
			class="w3-button w3-ripple w3-margin-right  w3-round-large w3-light-grey w3-hover-dark-grey"  
			id="reports"
			hx-post="/main/report" 
			hx-target="#contentArea">
			    Reports
		    </a>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="newreport"
				hx-post="/main/new_report" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    new report
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="editreport"
				hx-post="/main/edit_report" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    edit report
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="deletereport"
				hx-post="/main/delete_report" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    delete report
			    </a>
		    </div>
		</div>
		<div class="w3-dropdown-hover w3-round-large w3-light-blue">
		    <a style="text-decoration: none;" 
			class="w3-button w3-ripple  w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"  
			id="users"
			hx-post="/main/user" 
			hx-target="#contentArea">
			    Users
		    </a>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="newuser"
				hx-post="/main/new_user" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				new user
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="edituser"
				hx-post="/main/edit_user" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    edit user
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="deleteuser"
				hx-post="/main/delete_user" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				delete user
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="newgroup"
				hx-post="/main/new_group" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				new group
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="editgroup"
				hx-post="/main/edit_group" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				edit group
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="deletegroup"
				hx-post="/main/delete_group" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				 group
			    </a>
		    </div>
		</div>
		<div class="w3-dropdown-hover w3-round-large w3-light-blue">
		    <a style="text-decoration: none;" 
			class="w3-button w3-ripple  w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"  
			id="database"
			hx-post="/main/database" 
			hx-target="#contentArea">database
		    </a>
		    <div class="w3-dropdown-content w3-bar-block w3-card-4">
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="createtable"
				hx-post="/main/createtable_db" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    create table
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="edittable"
				hx-post="/main/edittable_db" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    edit table
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="deletetable"
				hx-post="/main/deletetable_db" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    delete table
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="backup"
				hx-post="/main/backup" 
				hx-target="#contentArea"
				onclick='document.getElementById("modalView").style.display="block"'>
				    backup
			    </a>
		    </div>
		</div>
		<div class="w3-right w3-dropdown-hover w3-round-large w3-green">
			<a class="w3-button w3-ripple w3-round-large">
			   Profile
			</a>
			<div id="profile" class=" w3-dropdown-content w3-center w3-bar-block" style="display:none;">
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="accsettings"
				hx-post="/main/profile_user" 
				hx-target="#modalView"
				onclick='document.getElementById("modalView").style.display="block"'>
				    Account settings
			    </a>
			    <a  class="w3-bar-item w3-button w3-ripple" 
				id="acchistory"
				hx-post="/main/profile_user" 
				hx-target="#modalView"
				onclick='document.getElementById("modalView").style.display="block"'>
				    Account history
			    </a>
			</div>
		</div>
	    </ul>
	</nav>
	{% endblock %}
</div>
	<main>
		{% block modal %}{% endblock %}
		{% block content %}{% endblock %}
	</main>
        <footer>
            <address>

            </address>
        </footer>
    </body>
</html>
