<div class="w3-dropdown-hover w4-round-large w3-light-blue">
  <a
    href="#"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
    >Masters
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <!-- phase 2-->
    <!-- <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/admin_company"
      hx-target="#formpart"
      hx-vals='{"form": "adminCompany"}'
      hx-swap="innerHTML"
    >
      Select Company
    </a> -->
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/magent/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/magent/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Agent
    </a>

    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mcustomer/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mcustomer/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      customer
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mexportfields/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mexportfields/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Export
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mitemcategory/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mitemcategory/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
         hx-swap="innerHTML"
      ></div>
      Item Category
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mshade/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mshade/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Item Shade/Variety
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mitem/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mitem/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Item Name
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mplusminushead/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mplusminushead/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Stock Plus/Minus Head
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/mlocation/create"
      hx-target="#formpart"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
      hx-swap="innerHTML"
    >
      <div
        hx-get="/invoice/mlocation/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Location
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/munit/create"
      hx-target="#formpart"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      <div
        hx-get="/invoice/munit/"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Units
    </a>
  </div>
</div>
<!-- phase 2 -->
<!-- <div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    class="w3-button w3ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    Forms
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_list"
      hx-target="#formpart"
      hx-swap="innerHTML"
    >
      view forms
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_config"
      hx-target="#formpart"
      hx-swap="innerHTML"
    >
      create form
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_delete"
      hx-target="#formpart"
      hx-swap="innerHTML"
    >
      delete form
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_edit"
      hx-target="#formpart"
      hx-swap="innerHTML"
    >
      edit form
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    Reports
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_list"
      hx-target="#formpart"
    >
      view report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/new_report"
      hx-target="#formpart"
    >
      new report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/edit_report"
      hx-target="#formpart"
    >
      edit report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/del_report"
      hx-target="#formpart"
    >
      delete report
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    database
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/table_list"
      hx-target="#formpart"
      hx-vals='{"form": "table_list"}'
      hx-swap="innerHTML"
    >
      view tables
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/create_table"
      hx-target="#formpart"
      hx-swap="innerHTML"
    >
      create table
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/edittable_db"
      hx-target="#formpart"
    >
      edit table
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/deletetable_db"
      hx-target="#formpart"
    >
      delete table
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/backup"
      hx-target="#formpart"
    >
      backup
    </a>
  </div>
</div> -->
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    Utility
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"api"}'
    >
      API
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"multiple_export_packing_slip"}'
    >
      Multiple Export Packing Slip
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"millsoft_to_orion"}'
    >
      MillSoft To Orion
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"backup"}'
    >
      Backup
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"config"}'
      hx-swap="innerHTML"
    >
      Config
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"printer_setting"}'
    >
      Printer Setting
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/form_view"
      hx-target="#formpart"
      hx-vals='{"form":"calculator"}'
    >
      Calculator
    </a>
  </div>
</div>
