<form id="dynform">
    {% csrf_token %}
    {% if form %}
        {{ form.media }}
        {{ form }}
        {% if formset %}
            <div id="formset">{% include 'partials/formset.html' with formset=formset  formset_form=formset_form %}</div>
        {% endif %}
        {% if buttons %}{% autoescape off %}<div>{% for button in buttons %}{{ button }}{% endfor %}</div>{% endautoescape %}{% endif %}
    {% else %}
        <p class="w3-text-grey w3-padding">Select an option from the menu to get started.</p>
    {% endif %}
</form>
