<div hx-trigger="load" hx-target="#profile" hx-swap="innerHTML">
    <!--this will be substituted-->
    <form method="POST" action="/invoice/logout_user">
        {% csrf_token %}
        <a href="#"
           class="w3-button  w3-padding w3-margin w3-ripple w3-round w3-red"
           onclick="w3_close()">X</a>
        <table class="w3-table">
            <tr>
                <th>Name</th>
                <th>id</th>
                <th>company</th>
            </tr>
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{{ user.user_emp_code }}</td>
                <td>{{ user.company.company_name }}</td>
            </tr>
        </table>
        <button class="w3-middle w3-padding w3-margin w3-button w3-ripple w3-round w3-orange"
                onclick="w3_close()">logout</button>
    </form>
</div>
