<div id="reel-preview" class="w3-container w3-margin-top" hx-swap-oob="true">
    <h4>Reels to be created</h4>
    {% if reel_numbers %}
        <p class="w3-small">Reel numbers: {{ reel_numbers|join:", " }}{% if reel_total and reel_total > reel_numbers|length %} ... ({{ reel_total }} total){% endif %}</p>
        <table class="w3-table-all w3-tiny w3-responsive " style="height: 200px; overflow-y:auto;">
            <thead>
                <tr>
                    <th>Reel No</th>
                    <th>No Of BDLS</th>
                    <th>No Of REAM</th>
                    <th>REAM Wt.</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                {% for reelno in reel_numbers %}
                <tr>
                    <td>{{ reelno }}</td>
                    <td>{{ noofbdls_per_row }}</td>
                    <td>{{ noofream_per_row }}</td>
                    <td>{{ reamwt_per_row }}</td>
                    <td>{{ weight_per_row }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="w3-small w3-text-grey">Total: {{ weight|default:0 }}</p>
    {% else %}
        <p class="w3-small w3-text-grey">Enter excise_from and excise_to (or noofbdls) to see reels that will be created.</p>
    {% endif %}
</div>
