<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
    id="reports"
  >
    Transaction
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="editreport"
      hx-get="/invoice/tproduction/create"
      hx-target="#mainform"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showProductionView'))"
    >
      <div hx-get="/invoice/tproduction"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
        hx-vals='{"show_reel_button":"false"}'
      ></div>
      Production
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/tstockplusminus/"
      hx-target="#mainform"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showProductionView'))"
    >
      <div
        hx-get="/invoice/tproduction"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-vals='{"show_reel_button":"true"}'
        hx-swap="innerHTML"
      ></div>
      Stock Plus/minus
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="prod_approval"
      hx-get="/invoice/prod_approval/"
      hx-target="#mainform"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      <div
        hx-get="/invoice/prod_approval/list"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Production Approval
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/tinvoice/create"
      hx-target="#mainform"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showReelView'))"
      ><div
        hx-get="/invoice/tinvoice"
        hx-trigger="click from:closest (a)"
        hx-target="#reelview"
        hx-swap="innerHTML"
      ></div>

      Invoice
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/finishing_house"
      hx-target="#mainform"
      hx-trigger="click"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      Finishing House
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/program_planning"
      hx-target="#mainform"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      Proggram planning
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    Report
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/rpending_order/create"
      hx-target="#mainform"
      hx-vals='{"form":"pending_order"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Pending Order
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="edittable"
      hx-get="/invoice/rprod_record/create"
      hx-target="#mainform"
      hx-vals='{"form":"prod_record"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Production Record
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/rdispatchdetails/create"
      hx-target="#mainform"
      hx-vals='{"form":"dispatch_details"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Dispatch Details
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/rstock/create"
      hx-target="#mainform"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Stock
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/rloader_report/create"
      hx-target="#mainform"
      hx-vals='{"form":"loader_report"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Loader Report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"qc_report"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      QC Report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"stock_plus_minus"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      Stock Plus/minus Report
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
    id="database"
  >
    Utility
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/stocktransfer"
      hx-target="#mainform"
      hx-swap="innerHTML"
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      <div
        hx-get="/invoice/tproduction"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-swap="innerHTML"
      ></div>
      Stock transfer
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="createtable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"api"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      API
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="edittable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"multiple_export_packing_slip"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('showTableview'))"
    >
      Multiple Export Packing Slip
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletetable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"millsoft_to_orion"}'
      hx-on::after-request="document.body.dispatchEvent(new CustomEvent('no_tableview'))"
    >
      MillSoft To Orion
    </a>
  </div>
</div>
