<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
    id="reports"
  >
    Transaction
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="newreport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"open_bal_prod"}'
    >
      <div
        hx-get="/invoice/table_data_view"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-vals='{"table_name":"production"}'
        hx-swap="innerHTML"
      ></div>
      Opening balance Production
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="editreport"
      hx-get="/invoice/tproduction/create"
      hx-target="#mainform"
      hx-vals='{"form":"production"}'
    >
      <div
        hx-get="/invoice/tproduction"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-vals='{"table_name": "production"}'
        hx-swap="innerHTML"
      ></div>
      Production
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/tproduction"
      hx-target="#mainform"
      hx-vals='{"form":"prod_plus_minus"}'
    >
      Stock Plus/minus
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"prod_approval"}'
    >
      Production Approval
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/tinvoice/create"
      hx-target="#mainform"
      hx-vals='{"form":"invoice"}'
      ><div
        hx-get="/invoice/tinvoice"
        hx-trigger="click from:closest (a)"
        hx-target="#tableview"
        hx-vals='{"table_name": "production"}'
        hx-swap="innerHTML"
      ></div>

      Invoice
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"jumbo_roll_qc"}'
    >
      Jumbo Roll QC
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"lot_no_wise_qc"}'
    >
      LOT no Wise QC
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"finishing_house"}'
    >
      Finishing House
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"program_planning"}'
    >
      Proggram planning
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
  >
    Report
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"pending_order"}'
    >
      Pending Order
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="edittable"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"prod_record"}'
    >
      Production Record
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"dispatch_details"}'
    >
      Dispatch Details
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"stock"}'
    >
      Stock
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"loader_report"}'
    >
      Loader Report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"qc_report"}'
    >
      QC Report
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      hx-get="/invoice/report_view"
      hx-target="#mainform"
      hx-vals='{"form":"stock_plus_minus"}'
    >
      Stock Plus/minus
    </a>
  </div>
</div>
<div class="w3-dropdown-hover w3-round-large w3-light-blue">
  <a
    href="#"
    style="text-decoration: none"
    class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
    id="database"
  >
    Utility
  </a>
  <div class="w3-dropdown-content w3-bar-block w3-card-4">
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="createtable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"api"}'
    >
      API
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="edittable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"multiple_export_packing_slip"}'
    >
      Multiple Export Packing Slip
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletetable"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"millsoft_to_orion"}'
    >
      MillSoft To Orion
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="backup"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"backup"}'
    >
      Backup
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"}'
    >
      Printer Setting
    </a>
    <a
      href="#"
      class="w3-bar-item w3-button w3-ripple"
      id="deletereport"
      hx-get="/invoice/form_view"
      hx-target="#mainform"
      hx-vals='{"form":"printer_setting"}'
    >
      Calculator
    </a>
  </div>
</div>
