<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'invoice/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'invoice/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'invoice/css/style.css' %}">
    <script src="{% static 'invoice/script/htmx.min.js'%}" defer></script>
    <script src="{% static 'invoice/script/json-enc.js'%}" defer></script>
    <script src="{% static 'invoice/script/CustomScript.js'%}" defer></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    {% block nav %}
        <div class="navigation">
            <nav>
                <ul class="w3-light-blue w3-bar w3-padding">
                    <div class="w3-dropdown-hover w3-round-large w3-light-blue">
                        <a href="#"
                           style="text-decoration: none"
                           class="w3-button w3-ripple w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
                           id="forms">Forms</a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               hx-get="/invoice/form_config"
                               hx-target="#modalView"
                               hx-swap="innerhtml"
                               id="createform">create form</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="deleteform"
                               hx-get="/invoice/form_delete"
                               hx-target="#modalView"
                               hx-swap="innerhtml">delete form</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="editform"
                               hx-get="/invoice/form_edit"
                               hx-target="#modalView"
                               hx-swap="innerhtml">edit form</a>
                        </div>
                    </div>
                    <div class="w3-dropdown-hover w3-round-large w3-light-blue">
                        <a href="#"
                           style="text-decoration: none"
                           class="w3-button w3-ripple w3-margin-right  w3-round-large w3-light-grey w3-hover-dark-grey"
                           id="reports">Reports</a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="newreport"
                               hx-post="/invoice/new_report"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>new report</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="editreport"
                               hx-post="/invoice/edit_report"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>edit report</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="deletereport"
                               hx-post="/invoice/delete_report"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>delete report</a>
                        </div>
                    </div>
                    <div class="w3-dropdown-hover w3-round-large w3-light-blue">
                        <a href="#"
                           style="text-decoration: none"
                           class="w3-button w3-ripple  w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
                           id="users">Users</a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="newuser"
                               hx-post="/invoice/new_user"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>new user</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="edituser"
                               hx-post="/invoice/edit_user"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>edit user</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="deleteuser"
                               hx-post="/invoice/delete_user"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>delete user</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="newgroup"
                               hx-post="/invoice/new_group"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>new group</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="editgroup"
                               hx-post="/invoice/edit_group"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>edit group</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="deletegroup"
                               hx-post="/invoice/delete_group"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>group</a>
                        </div>
                    </div>
                    <div class="w3-dropdown-hover w3-round-large w3-light-blue">
                        <a href="#"
                           style="text-decoration: none"
                           class="w3-button w3-ripple  w3-margin-right w3-round-large w3-light-grey w3-hover-dark-grey"
                           id="database">database</a>
                        <div class="w3-dropdown-content w3-bar-block w3-card-4">
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="createtable"
                               hx-post="/invoice/createtable_db"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>create table</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="edittable"
                               hx-post="/invoice/edittable_db"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>edit table</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="deletetable"
                               hx-post="/invoice/deletetable_db"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>delete table</a>
                            <a href="#"
                               class="w3-bar-item w3-button w3-ripple"
                               id="backup"
                               hx-post="/invoice/backup"
                               hx-target="#modalView"
                               onclick='document.getElementById("modalView").style.display="block"'>backup</a>
                        </div>
                    </div>
                    <div class="w3-right">
                        <a href="#"
                           class="w3-button w3-ripple w3-round-large w3-green"
                           onclick='document.getElementById("modalView").style.display="block"'
                           hx-get="/invoice/profile_user"
                           hx-target="#modalView"
                           hx-swap="innerhtml">Profile</a>
                    </div>
                </ul>
            </nav>
        {% endblock %}
    </div>
    <invoice>
    {% block modal %}{% endblock %}
    {% block content %}{% endblock %}
    </invoice>
    <footer>
        <address>
        </address>
    </footer>
</body>
</html>
